*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    padding: 12px 9%;
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
}
.logo{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    margin: 10px;
}
.logo span{
    color: crimson;
    font-weight: 600;
}
.navbar ul{
    display: flex;
   
}
.navbar ul li{
    margin: 10px 20px;
    list-style: none;
}
/* dropdown menu */
.navbar li .dropdown{
    display: none;
    position: absolute;
    padding-left: 10px; 
    background-color: gainsboro;

}
.navbar li:hover .dropdown{
    display: block;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.navbar ul li a:hover{
    color: coral;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(../img/first.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    width: 90%;
    margin: 30px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.card{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
    border-radius: 6px
}
.card img{
    width: 100%;
    height: auto;
}
.tittel{
    padding: 10px;
}
.tittel h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tittel p{
    font-size: 16px;
    line-height: 1.2;
}
.tittel .btn{
    display: inline;
    padding: 10px;
    font-size: 16px;
    background-color: darkorange;
    color: #fff;
    margin-top: 10px;
    border: none;
    border-radius: 14px;
}
.tittel .btn:hover{
    background-color: burlywood;
}

@media screen and (max-width:678px){
    .header ,.navbar ul{
        flex-direction: column;
    }
}
