*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.img{
   width: 30%;
   box-shadow: 0px 4px 8px rgba( 0, 0, 0, 0.1 ); 
   border-radius: 10px;
   margin: 10px;
}
.img ,img{
    width: 100%;
    height: auto;
}
.img,.card{
    padding: 10px;
}
.card h2{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;

}
.card p{
    font-size: 16px;
    line-height: 1.2;
}
@media screen and (max-width: 768px){
     .hero{
        flex-direction: column;
     }
     .img{
        width: 90%;
        margin: 20px auto;
     }
}